
## Fabric
# gradle
Fabric/classes/

## Forge
# vscode
Forge-*/.metadata
Forge-*/eclipse

# ForgeMDK
Forge-*/forge*changelog.txt

## Global
# PixelDots
*/*.jar

# loader
*/run/

# eclipse
*/*.launch

# vscode
*/.settings/
*/.vscode/
*/bin/
*/.classpath
*/.project

# gradle
*/.gradle/
*/build/
*/out/

# idea
*/.idea/
*/*.iml
*/*.ipr
*/*.iws

# other
*/libs/*
*/*.DS_Store